<% layout("layouts/boilerplate.ejs") -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>
                    <%= listing.title %>
                </h3>
            </div>
            <div class="card col-8 offset-2 listing-card">
                <img src="<%= listing.image %>" alt="listing-image" class="listing-img card-img-top">
                <p class="card-text">Owned by <i>
                        <%= listing.owner.username %>
                    </i></p>
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <p class="card-text">
                        ₹ <%= listing.price.toLocaleString("en-IN") %>
                    </p>
                    <p class="card-text">
                        <%= listing.location %>
                    </p>
                    <p class="card-text">
                        <%= listing.country %>
                    </p>
                </div>
            </div>
            <% if(loggedInUser && loggedInUser._id.equals(listing.owner._id)){ %>
                <div class="btns col-8 offset-2">
                    <form action="/listings/<%= listing._id %>/edit" method="get">
                        <button class="btn btn-primary edit-btn">EDIT</button>
                    </form>
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                        <button class="btn btn-dark delete-btn">DELETE</button>
                    </form>
                </div>
                <% } %>
                    <% if(loggedInUser){ %>
                        <div class="col-8 offset-2">
                            <hr>
                            <h3>Leave a Review</h3>
                            <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate
                                class="needs-validation">
                                <div class="mb-3 mt-3">
                                    <fieldset class="starability-slot">
                                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0"
                                            checked aria-label="No rating." />
                                        <input type="radio" id="first-rate1" name="rating" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="rating" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="rating" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="rating" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="rating" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="comment" class="form-label">Write your thoughts</label>
                                    <textarea name="comment" id="comment" class="form-control" required></textarea>
                                    <div class="invalid-feedback">Please add some proper comment for review.</div>
                                </div>
                                <button class="btn btn-outline-dark">Submit</button>
                            </form>
                        </div>
                        <% } %>
                            <% if(listing.reviews.length!=0){ %>
                                <div class="col-8 offset-2 mt-3 mb-3">
                                    <hr>
                                    <h3>All Reviews</h3>
                                    <div class="row g-3">
                                        <% for(let review of listing.reviews){ %>
                                            <div class="card col-3 mb-3 ms-2">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%= review.author.username %>
                                                    </h5>
                                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                                        <%= review.rating %> stars
                                                    </p>
                                                    <p class="card-text">
                                                        <%= review.comment %>
                                                    </p>
                                                    <form
                                                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                        class="mb-1" method="post">
                                                        <button class="btn btn-sm btn-dark">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <% } %>
                                    <div class="col-8 offset-2">
                                        <hr>
                                        <h3>Where you'll be</h3>
                                        <div id="map"></div>
                                    </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                if (document.getElementById("map")) {

                    const lati = <%= lat %>;
                    const loni = <%= lon %>;

                    const map = L.map("map").setView([lati, loni], 15);

                    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                        maxZoom: 19,
                        attribution: "&copy; OpenStreetMap contributors",
                    }).addTo(map);

                    const customIcon = L.icon({
                        iconUrl: "/images/airbnb-marker.png", // make sure this file exists in public/images
                        iconSize: [40, 40],
                        iconAnchor: [20, 40],
                        popupAnchor: [0, -40],
                    });

                    var marker = L.marker([lati, loni]).addTo(map);
                }
            });
        </script>

    </body>